.Navbar {
    overflow: hidden;
    background-color: #ffbe0b;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .Navbar a {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    display: block;
    color: #1967f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .Navbar .Navbar-active {
    color: #1967f8;
    font-weight: 800;
    border-bottom: 2px solid #1967f8;
  }